<%- include('../partials/head.ejs') %>

<%- include('../partials/nav.ejs') %>
  
  <main id="main " class="ask-login-page">
    <br><br><br><br><br><br><br>
    <section >
      <div class="container">
        <div class="jumbotron center">
          <p class="msg">
            Kindly login before you use execlusive features of this website.
            <br> To login/register go to login page or click <a href="login.html"><b><u><i>Here</i></u></b> </a>
            <br> Sorry, for the convience.
          </p>
        </div>
      </div>
		</section>
  
    <br><br><br><br><br><br><br><br><br>
  </main>

  <%- include('../partials/footer.ejs') %>

  <%- include('../partials/end.ejs') %>  