</head>

<body>
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center">
        <div class="logo mr-auto">
          <h1 class="text-light"><a href="/"><span>Choosing Simplified</span></a></h1>
        </div>

        <nav class="nav-menu d-none d-lg-block">
          
          <ul>
            <li><a href="/">About</a></li>
            <li class="drop-down"><a href="/schools/schools-list">Schools</a>
              <ul>
                <li><a href="/schools/schools-list">Schools</a></li>
                <li><a href="/schools/add-school">Add School</a></li>
              </ul>
            </li>
            <li class="drop-down"><a href="/colleges/colleges-list">Colleges</a>
              <ul>
                <li><a href="/colleges/colleges-list">Colleges</a></li>
                <li><a href="/colleges/add-college">Add College</a></li>
              </ul>
            </li>
            <li class="drop-down"><a href="/teachers/teachers-list">Teachers</a>
              <ul>
                <li><a href="/teachers/teachers-list">Teachers</a></li>
                <li><a href="/teachers/add-teacher">Add Teacher</a></li>
              </ul>
            </li>
            <li class="get-started"><a href="/auth/login">Login</a>
          </ul>
        </nav>
      </div>
    </div>
  </header>
