</head>

<body>
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center">
        <div class="logo mr-auto">
          <h1 class="text-light"><a href="index.html"><span>Choosing Simplified</span></a></h1>
        </div>

        <nav class="nav-menu d-none d-lg-block">
          
          <ul>
            <li><a href="index.html#about-me">About</a></li>
            <li class="drop-down"><a href="schools/schools-list.html">Schools</a>
              <ul>
                <li><a href="schools/schools-list.html">Schools</a></li>
                <li><a href="schools/add-school.html">Add School</a></li>
              </ul>
            </li>
            <li class="drop-down"><a href="colleges/colleges-list.html">Colleges</a>
              <ul>
                <li><a href="colleges/colleges-list.html">Colleges</a></li>
                <li><a href="colleges/add-college.html">Add College</a></li>
              </ul>
            </li>
            <li class="drop-down"><a href="teachers/teachers-list.html">Teachers</a>
              <ul>
                <li><a href="teachers/teachers-list.html">Teachers</a></li>
                <li><a href="teachers/add-teacher.html">Add Teacher</a></li>
              </ul>
            </li>
            <li class="get-started"><a href="auth/login.html">Login</a>
          </ul>
        </nav>
      </div>
    </div>
  </header>
