<%- include('../partials/head.ejs') %>

<%- include('../partials/nav.ejs') %>

  <main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Add College or unversity</h2>
          <ol>
            <li>Home</li>
            <li>Add College or unversity</li>
          </ol>
        </div>
      </div>
    </section>


    <section id="contact" class="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <div class="section-title">
              <h2>Add College or unversity</h2>
              <p>Add the College or unversity. Kindly give the correct inforamtion as much as possible as your information will effect lot of people in making their choices. <br>Thank you</p>
            </div>
          </div>

          
          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
            <form action="/colleges/add-college" method="POST" enctype="multipart/form-data" class="php-email-form mt-4">
                <div class="form-group">
                  <input type="text" required name="name" class="form-control" id="name" placeholder="College or Unversity Name"  />
                </div>
                <div class="form-group">
                  <input type="email" required class="form-control" name="email" id="email" placeholder="College or Unversity Official Email" data-rule="email"  />
                </div>
              <div class="form-group">
                <input type="text" required class="form-control" name="website" id="website" placeholder="College or Unversity Official Website"/>

              </div>
              <div class="form-group">
                <input type="number" required min="1000000000" max="9999999999" class="form-control" name="phone" id="phone" placeholder="College or Unversity Official Phone Number" />
 
              </div>
              <div class="form-group">
                <input type="text" required class="form-control" name="loaction" id="loaction" placeholder="College or Unversity Location"  />

              </div>
              <div class="form-group">
                <input type="number" min="1900" max="2020" name="buildYear" id="buildYear" placeholder="Year in which College or Unversity was build" class="form-control"   />

              </div>
              <div class="form-group row">
                <div class="col-md-3">College or Unversity Rating</div>
                <div class="col-md-6">
                  <input type="radio" id="star5"  name="stars" value="5">
                  <label  for="star5"><i class="fas fa-star color"></i><i class="fas fa-star color"></i><i class="fas fa-star color"></i><i class="fas fa-star color"></i><i class="fas fa-star color"></i></label>
                  <br>
                  <input type="radio"  id="star4" name="stars" value="4">
                  <label  for="star4"><i class="fas fa-star color"></i><i class="fas fa-star color"></i><i class="fas fa-star color"></i><i class="fas fa-star color"></i></label>
                  <br>
                  <input type="radio"  id="star3" name="stars" value="3">
                  <label  for="star3"><i class="fas fa-star color"></i><i class="fas fa-star color"></i><i class="fas fa-star color"></i></label>
                  <br>
                  <input type="radio"  id="star2" name="stars" value="2">
                  <label  for="star2"><i class="fas fa-star color"></i><i class="fas fa-star color"></i></label>
                  <br>
                  <input type="radio"  id="star1" name="stars" value="1">
                  <label  for="star1"><i class="fas fa-star color"></i></label>
                </div>
              </div>
              <div class="form-group">
                <select name="instituteType" required class="form-control" id="instituteType">
                  <option selected="" disabled="" value="">Type of College or Unversity</option>
                  <option value="engineering">Engineering</option>
                  <option value="medical">Medical</option>
                  <option value="commerce">Commerce</option>
                  <option value="diploma">Diploma</option>
                  <option value="all-in-one">Combination of all the streams</option>
                </select>
              </div>
              <div class="form-group">
                <div class="custom-file">
                  <input type="file" name="image" class="custom-file-input" id="collegeImg" required>
                  <label class="custom-file-label" for="collegeImg">Choose file...</label>
                </div>
              </div>
              <div class="form-group">
                <textarea class="form-control" required name="message" rows="5" placeholder="Please write something for about the College or Unversity so that other people can know it better."></textarea>
              </div>
              <div class="text-center"><button type="submit">Add College or Unversity</button></div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include('../partials/footer.ejs') %>

  <%- include('../partials/end.ejs') %>  

  