<%- include('../partials/head.ejs') %>

<%- include('../partials/nav.ejs') %>

  <main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Colleges List</h2>
          <ol>
            <li>Home</li>
            <li>Colleges List</li>
          </ol>
        </div>
      </div>
    </section>


    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container" data-aos="fade-up" data-aos-delay="100">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="/img/pic1.png" class="img-fluid" alt="">
            <img src="/img/pic2.jpg" class="img-fluid" alt="">
            <img src="/img/pic3.jpg" class="img-fluid" alt="">
          </div>
      </div>
    </section>

    <section class="container">
      <div class="cards">
        <div class="card ">
          <div class="row">
            <div class="card-img col-md-4 col-xs-4">
              <img class="pic" src="/img/coverImg.png" alt="">
            </div>
            <div class="card-details col-md-8 col-xs-8">
              <div>
                <a class="div-lable-title div-label" href="#"><h2><u><b><i>College Name</i></b></u></h2> </a>
              </div>
              <div class="div-label"><i class="fas fa-map-marker-alt icon"></i>College Location</div>
              <div class="div-label"><i class="fas fa-phone-alt icon"></i><b>+91</b> College  Phone Number</div>
              <div class="div-label"><i class="fas fa-globe-asia icon"></i>College  Website</div>
              <div class="div-label"><i class="fa fa-link icon" ></i><a href="/colleges/college-details">More details</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include('../partials/footer.ejs') %>

  <%- include('../partials/end.ejs') %>  
