<%- include('../partials/head.ejs') %>

<%- include('../partials/nav.ejs') %>

  <main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>College Details</h2>
          <ol>
            <li>Home</li>
            <li>College Details</li>
          </ol>
        </div>
      </div>
    </section>


    <section class="container">
      <div class="main-img">
        <img src="../assets/img/schools/sch2.jpg" alt="School">
      </div>
      <br>
      <hr>
      <div>
        <h1 class="main-heading"> College or Unversity Name</h1>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-1"></div>
        <table class="all-details col-md-10">
          <thead >
            <tr class="row">
              <td class="col-md-5"></td>
              <td class="col-md-5"></td>
            </tr>
          </thead>
          <tbody>
            <tr class="table-row">
              <td><i class="fas fa-map-marker-alt icon"></i>Loaction</td>
              <td>Bangalore</td>
            </tr>
            <tr class="table-row">
              <td><i class="fas fa-phone-alt icon"></i>Contact Number</td>
              <td><b>+ 91 </b>999 8888 222</td>
            </tr>
            <tr class="table-row">
              <td><i class="fas fa-globe-asia icon"></i>Website</td>
              <td>www.gmail.com</td>
            </tr>
            <tr class="table-row">
              <td><i class="fa fa-users icon" aria-hidden="true"></i>Teachers registered</td>
              <td>89</td>
            </tr>
            <tr class="table-row">
              <td><i class="fas fa-star icon"></i>Rating</td>
              <td>5</td>
            </tr>
            <tr class="table-row">
              <td><i class="fas fa-th-list icon"></i>Type of College or Unversity</td>
              <td>KidergardenKidergarden</td>
            </tr>
            <tr class="table-row">
              <td><i class="fas fa-envelope-open-text"></i>Message</td>
              <td>few words...</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </main>

  <%- include('../partials/footer.ejs') %>

  <%- include('../partials/end.ejs') %>  

  