<%- include('./partials/head.ejs') %>

<%- include('./partials/nav.ejs') %>

<main id="main " class="ask-login-page">
  <br><br><br><br><br><br><br>
  <section >
    <div class="container">
      <div class="jumbotron text-center">
        <h3>404 Page</h3>
        <h5>Kindly enter valid URL.</h5>
      </div>
    </div>
  </section>
  <br><br><br><br><br><br><br><br><br>
</main>

<%- include('./partials/footer.ejs') %>

<%- include('./partials/end.ejs') %>  
