<%- include('../partials/head.ejs') %>

<%- include('../partials/nav.ejs') %>

  <main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>School Details</h2>
          <ol>
            <li><a href="../index.html">Home</a></li>
            <li>Schools</li>
            <li>School Deatils</li>
          </ol>
        </div>
      </div>
    </section>

    <section class="container">
      <div class="main-img text-center">
        <img src="/img/pic2.jpg" alt="School">
      </div>
      <br>
      <hr>
      <div>
        <h1 class="main-heading"> School Name</h1>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-2"></div>
        <table class="all-details col-md-8">
          <thead >
            <tr class="row">
              <td class="col-md-4"></td>
              <td class="col-md-4"></td>
            </tr>
          </thead>
          <tbody>
            <tr class="table-row">
              <td><i class="fas fa-map-marker-alt icon"></i>Loaction</td>
              <td>Bangalore</td>
            </tr>
            <tr class="table-row">
              <td><i class="fas fa-phone-alt icon"></i>Contact Number</td>
              <td><b>+ 91 </b>999 8888 222</td>
            </tr>
            <tr class="table-row">
              <td><i class="fas fa-globe-asia icon"></i>Website</td>
              <td>www.gmail.com</td>
            </tr>
            <tr class="table-row">
              <td><i class="fa fa-users icon"></i>Teachers registered</td>
              <td>89</td>
            </tr>
            <tr class="table-row">
              <td><i class="fas fa-star icon"></i>Rating</td>
              <td>5</td>
            </tr>
            <tr class="table-row">
              <td><i class="fas fa-star icon"></i>Type of school</td>
              <td>Kidergarden</td>
            </tr>
            <tr class="table-row">
              <td><i class="fas fa-envelope-open-text"></i>Message</td>
              <td>few words...</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </main>

  <%- include('../partials/footer.ejs') %>

  <%- include('../partials/end.ejs') %>  
