<%- include('../partials/head.ejs') %>

<%- include('../partials/nav.ejs') %>

  <main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Add Teacher</h2>
          <ol>
            <li>Home</li>
            <li>Add Teacher</li>
          </ol>
        </div>
      </div>
    </section>

    <section id="contact" class="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-4" data-aos="fade-up">
            <div class="section-title">
              <h2>Add Teacher</h2>
              <p>Add the teacher. Kindly give the correct inforamtion as much as possible as your information will effect lot of people in making their choices. <br>Thank you</p>
            </div>
          </div>

          <div class="col-lg-8" data-aos-delay="100" data-aos="fade-up">
            <form action="/teachers/add-teacher" method="POST"  class="php-email-form mt-4" enctype="multipart/form-data">
                <div class="form-group">
                  <input type="text" required name="name" class="form-control" id="name" placeholder="Teacher Name" />
                </div>
                <div class="form-group">
                  <input type="email" required class="form-control" name="email" id="email" placeholder="Teacher Email" />
                </div>
              <div class="form-group">
                <input type="text" required class="form-control" name="website" id="website" placeholder="Teacher blog Website" />
              </div>
              <div class="form-group">
                <input type="text" required class="form-control" name="instituteName" id="instituteName" placeholder="Name of institute where teacher is teaching" />
              </div>
              <div class="form-group">
                <input type="number" min="1000000000" max="9999999999" class="form-control" name="phone" id="phone" placeholder="Teacher Official Phone Number" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="location" id="location" placeholder="Teacher Location" />
              </div>
              <div class="form-group">
                <input type="number" required min="1" max="100" name="teachingSince" id="teachingSince" placeholder="Teaching since (5,10,..yaers)" class="form-control"/>
              </div>
              <div class="form-group row">
                <div class="col-md-3">Teacher Rating</div>
                <div class="col-md-6">
                  <input type="radio" id="star5"  name="stars" value="5">
                  <label  for="star5"><i class="fas fa-star color"></i><i class="fas fa-star color"></i><i class="fas fa-star color"></i><i class="fas fa-star color"></i><i class="fas fa-star color"></i></label>
                  <br>
                  <input type="radio"  id="star4" name="stars" value="4">
                  <label  for="star4"><i class="fas fa-star color"></i><i class="fas fa-star color"></i><i class="fas fa-star color"></i><i class="fas fa-star color"></i></label>
                  <br>
                  <input type="radio"  id="star3" name="stars" value="3">
                  <label  for="star3"><i class="fas fa-star color"></i><i class="fas fa-star color"></i><i class="fas fa-star color"></i></label>
                  <br>
                  <input type="radio"  id="star2" name="stars" value="2">
                  <label  for="star2"><i class="fas fa-star color"></i><i class="fas fa-star color"></i></label>
                  <br>
                  <input type="radio"  id="star1" name="stars" value="1">
                  <label  for="star1"><i class="fas fa-star color"></i></label>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-2">Subjects taught by teacher <br> <span class="subhead">(Choose max 2 subjects)</span> </div>
                <div class="col-md-1"></div>
                <div class="col-md-3 checkboxData">
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" value="Aeronautical Engineering" class="custom-control-input" id="sub1">
                    <label class="custom-control-label" for="sub1">Aeronautical Engineering</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" class="custom-control-input" id="sub2" value="Biomedical Engineering">
                    <label class="custom-control-label" for="sub2">Biomedical Engineering</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" class="custom-control-input" id="sub3" value="Biotechnology Engineering">
                    <label class="custom-control-label" for="sub3">Biotechnology Engineering</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" class="custom-control-input" id="sub4"  value="Chemical Engineering">
                    <label class="custom-control-label" for="sub5">Chemical Engineering</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" class="custom-control-input" id="sub5" value="Civil Engineering">
                    <label class="custom-control-label" for="sub5">Civil Engineering</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" class="custom-control-input" id="sub6" value="Computer Science Engineering">
                    <label class="custom-control-label" for="sub6">Computer Science Engineering</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox"  name="subject" class="custom-control-input" id="sub7" value="Electrical Engineering">
                    <label class="custom-control-label" for="sub7">Electrical Engineering</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" class="custom-control-input" id="sub8" value="Electronics Engineering">
                    <label class="custom-control-label" for="sub8">Electronics Engineering</label>
                  </div>
                </div>
                <div class="col-md-3 checkboxData">
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" class="custom-control-input" id="sub9" value="Human Anatomy">
                    <label class="custom-control-label" for="sub9">Human Anatomy</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" class="custom-control-input" id="sub10" value="Orthopaedics">
                    <label class="custom-control-label" for="sub10">Orthopaedics</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" class="custom-control-input" id="sub11" value="Biochemistry">
                    <label class="custom-control-label" for="sub11">Biochemistry</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" class="custom-control-input" id="sub12" value="Psychiatry">
                    <label class="custom-control-label" for="sub12">Psychiatry</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" class="custom-control-input" id="sub13" value="Paediatrics">
                    <label class="custom-control-label" for="sub13">Paediatrics</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" class="custom-control-input" id="sub14" value="Gynaecology">
                    <label class="custom-control-label" for="sub14">Gynaecology</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" class="custom-control-input" id="sub15" value="Obstetrics">
                    <label class="custom-control-label" for="sub15">Obstetrics</label>
                  </div> 
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" class="custom-control-input" id="sub16" value="Anesthesiology">
                    <label class="custom-control-label" for="sub16">Anesthesiology</label>
                  </div>
                </div>
                <div class="col-md-3 checkboxData">
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" class="custom-control-input" id="sub17" value="Accounting">
                    <label class="custom-control-label" for="sub17">Accounting</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" class="custom-control-input" id="sub18" value="Taxation">
                    <label class="custom-control-label" for="sub18">Taxation</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox"name="subject"  class="custom-control-input" id="sub19" value="Auditing and Assurance">
                    <label class="custom-control-label" for="sub19">Auditing and Assurance</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" class="custom-control-input" id="sub20" value="Risk Management">
                    <label class="custom-control-label" for="sub20">Risk Management</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" class="custom-control-input" id="sub21" value="Economic Laws">
                    <label class="custom-control-label" for="sub21">Economic Laws</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" class="custom-control-input" id="sub22" value="Strategic Management">
                    <label class="custom-control-label" for="sub22">Strategic Management</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" class="custom-control-input" id="sub23" value="Finance Management">
                    <label class="custom-control-label" for="sub23">Finance Management</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="subject" class="custom-control-input" id="sub24" value="International Taxation">
                    <label class="custom-control-label" for="sub24">International Taxation</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="custom-file">
                  <input type="file" name="image" class="custom-file-input"  id="teacherImg" required >
                  <label class="custom-file-label" for="teacherImg">Choose file...</label>
                </div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" required placeholder="Please write something for about the teacher so that other people can know it better."></textarea>
              </div>
              <div class="text-center"><button type="submit">Add Teacher</button></div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>

   <%- include('../partials/footer.ejs') %>

  <%- include('../partials/end.ejs') %>  